<html>
    <head>
        <title>
            <%=  title   %>
        </title>

        <!-- link css -->
        <link rel="stylesheet" href="/css/layout.css">

        <!-- extract style from sub pages into the layout -->
        <%- style  %>
    </head>

    
    <body>

        <!-- Header --> 
        <%- include('_header'); %>          <!-- Partials -->

        <!-- Variable Part -->
        <%- body  %>


        <!-- Footer -->
        <%- include('_footer'); %>          <!-- Partials -->



        <!-- extract scripts from sub pages into the layout -->
        <%- script  %>

    </body>
</html>